body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
/* search box related css */
.search-field {
  border: none;
  border-radius: 30px;
  padding: 5px;
  outline: none;
}

#input-field:focus{
  color:blueviolet;
  
}
.search-box {
  border: 1px solid rgb(4, 12, 7);
  width: 281px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
 
}

.search-button {
  padding: 10px 10px;
  background:transparent;
  border:none;
  margin-left: 57px;
}
/* end search box */


/* start product css */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 15px;
  transition: 0.3s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px rgb(228, 223, 223);
  border-radius: 10px 0 10px 0px;
  
  border: 1px solid #e5e5e5;
}
.product-image {
  width: 150px;
  height: 150px;
}
/* cart css start here */
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px rgb(228, 223, 223);
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
